@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #00EBF0, #5E05F0);
}
main{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #FA1505;
    padding: 10px;
    margin: auto;
}
h1{
    color: #65FA05;
    text-align: center;
    text-shadow: 1px 1px 0px #44a006c0;
}
h2{
    color: #E3A410;
}
p{
    text-align: justify;
}